<MCQ>
<QN m="10">
<BODY></BODY>
<C></C>
<C></C>
<C></C>
<C></C>
<SOLN>
</SOLN>
</QN>

<QN m="10">
<BODY></BODY>
<C></C>
<C></C>
<C></C>
<C></C>
<SOLN>
</SOLN>
</QN>

<QN m="10">
<BODY></BODY>
<C></C>
<C></C>
<C></C>
<C></C>
<SOLN>
</SOLN>
</QN>

<QN m="10">
<BODY></BODY>
<C></C>
<C></C>
<C></C>
<C></C>
<SOLN>
</SOLN>
</QN>

<QN m="10">
<BODY></BODY>
<C></C>
<C></C>
<C></C>
<C></C>
<SOLN>
</SOLN>
</QN>
</MCQ>