

/* SVG styling for nodes and lines (optional, can be done with JS too) */
.node {
    fill: steelblue;
    stroke: white;
    stroke-width: 1.5px;
}

.nodestop {
    fill: red;
    stroke: white;
    stroke-width: 1.5px;
}

.link {
    stroke: #ccc;
    stroke-width: 1.5px;
    fill: none;
}
