/* text enviornments  */
div.def {
    font-style:italic;
    margin-top:15px;
    margin-bottom:15px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:cornsilk;
}

div.proof {
    margin-top:15px;
    margin-bottom:15px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:cornsilk;
}

div.prop {
    font-style:italic;
    margin-top:15px;
    margin-bottom:15px;
    background-color:cornsilk;
    padding-top:15px;
    padding-bottom:15px;
}

div.cor {
    font-style:italic;
    margin-top:15px;
    margin-bottom:15px;
    background-color:cornsilk;
    padding-top:15px;
    padding-bottom:15px;
}

div.ex {
    margin-top:15px;
    margin-bottom:15px;
    padding-top:15px;
    padding-bottom:15px;
}

div.figCap {
    margin-top:2px;
    margin-bottom:15px;
    padding-top:2px;
    padding-bottom:15px;
}


/* page layout */
body {
    font-size: 1.1em;
    background-color:gray;
}

.container {
    padding:10px;
    margin-left : 100px;
    background-color:white;
    position: absolute;
    border: 0px;
    width: 740px;
}

div.fr {
    border:   0px;
    margin:   0px;
    height:   100%; /* was 1000px*/
    float:    left;
    z-index: -5;
}


.display {
    margin-left:auto;
    margin-right:auto;
    background-color:#b0e0e6;
}

#c1 {
	position: absolute;
}

#c2 {
	position: absolute;
	left: 690px;
}


/*--- DROPDOWN ---*/
#nav{
	list-style:none;
	font-weight:normal;
	float:left;
	height: 35px;
	background:#333;
	width: 700px;
}

#nav li{
	float:left;
	text-align:left;
	margin-right:22px;
	position:relative;
}

#nav a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
}

#nav a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/

#nav ul{
	background:#fff; 
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	left:-9999px; /**/
	margin-left: 0px;
	padding-left: 0px;
}
#nav ul li{
	float:none;
	z-index: +5;
	margin-left: 0px;
	padding-left: 0px;
}

#nav ul a{
	white-space:nowrap; 
}

#nav li:hover a{ 
    background:#6b0c36;
    text-decoration:underline;
}

#nav li:hover ul a{ 
    text-decoration:none;
}

#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover ul li a:hover{ 
    background:#533;
}

.hidden {
    display: none;
}

#chapterTitle {
	padding-bottom: 10px;
	padding-top: 10px;
    background-color:#333;
}

.invisible {
	display: none;
}